<% if @cocktail.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @cocktail.photo.key, crop: :fill %>);">
    <div class="container">
      <h1><%= @cocktail.name %></h1>
    </div>
  </div>
<% elsif @cocktail.image_url %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @cocktail.image_url %>);">
    <div class="container">
      <h1><%= @cocktail.name %></h1>
    </div>
  </div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.thecocktaildb.com/images/media/drink/ne7re71604179012.jpg');">
    <div class="container">
      <h1><%= @cocktail.name %></h1>
    </div>
  </div>
<% end %>


<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="container">
        <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">List of ingredients <i class="fas fa-cocktail"></i></h3>
          </div>
          <ul class="list-group list-group-flush">
            <% @cocktail.doses.each do |dose| %>
              <li class="list-group-item">
                <div>
                  <div>
                    <%= dose.ingredient.name %> <%= dose.description %>
                  </div>
                  <%= link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 mt-4">
      <h1>Add a new ingredient</h1>
      <div>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description, class: 'shadow p-3 mb-5 bg-body rounded'%>
          <%= f.association :ingredient, include_blank: false, class: 'shadow p-3 mb-5 bg-body rounded' %>
          <%= f.button :submit, 'Add new ingredient', class: 'btn btn-primary'  %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row my-3 px-5">
    <div class="col-12">
      <h5>Reviews</h5>
      <ul class="reviews">
        <% @cocktail.reviews.each do |review| %>
          <li class="list-review">
            <%= review.content %> <% (review.rating).to_i.times do %> <i class="fa fa-star" aria-hidden="true"></i> <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row my-5 px-5">
    <div class="col-12">
    <h3>Add review</h3>
      <%= simple_form_for [@cocktail, @review] do |f| %>
        <%= f.input :content, class: 'shadow p-3 mb-5 bg-body rounded' %>
        <%= f.input :rating, collection: 0..5, include_blank: false, class: 'shadow p-3 mb-5 bg-body rounded'%>
        <%= f.button :submit, 'Add review', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

  <%= link_to 'Back to cocktails list', cocktails_path, class: 'btn btn-primary my-2' %>
</div>


